@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Space Grotesk', sans-serif;
}

html{
    height: 100vh;
}

.pdm-login {
    overflow-y: scroll;
    background: linear-gradient(0deg, rgba(57, 53, 255, 0.10) 0%, rgba(57, 53, 255, 0.10) 100%), url('../../assets/images/signup.png') lightgray 50% / cover no-repeat;
    background: url('../../assets/images/signup.png') lightgray 50% / contain no-repeat;
    background-image: url('../../assets/images/signup.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#container{
    margin-top: 65px;
    background-color: #fff;
    width: 480px;
    height: 630px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.10), 0px 4px 6px -1px rgba(0, 0, 0, 0.10), 0px 0px 0px 0px rgba(0, 0, 0, 0.00), 0px 0px 0px 0px rgba(0, 0, 0, 0.00);
    border-radius: 10px;
    border: 1px solid #fff;
}

#container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}

#header{
    padding: 10px;
    justify-content: space-between;
    display: flex;
}

#header .logo{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 7px;
}

#header a{
    text-decoration: none;
    font-weight: 600;
}

a.signin-header {
    color: #0d6efd;
    font-size: 1.2rem;
}

.signup-box{
    padding: 5%;
    max-width: 450px;
    margin: 0 auto;
}

.signup-box h2{
    font-weight: 600;
    text-align: center;
}

#form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 2rem;
    color: #000;
}

label{
    font-weight: 500;
}

.sel{
    display: flex;
}

input{
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    color: #000;
    font-size: 12px;
    border: 1px solid #000;
}

input:focus{
    outline: none;
}

span{
    text-align: center;
}

.continue-button{
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}

.continue-button button{
    background-color: #3935FF;
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    color: #fff;
}

.continue-button button:hover{
    background-color: #020071;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
}

#horizontal-line{
    margin-top: 30px;
}

.line{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2px 0;
}

.line::before, .line::after{
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.line:not(:empty)::before{
    margin-right: 10px;
}

.line:not(:empty)::after{
    margin-left: 10px;
}

.signin-opt{
    display: flex;
    padding: 10px;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#emailopt{
    border: 1px solid #000;
    padding: 8px;
    width: 400px;
    border-radius: 20px;
}

#emailopt a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#emailopt a:hover{
    color: #020071;
}

#google-opt{
    border: 1px solid #000;
    padding: 8px;
    width: 400px;
    border-radius: 20px;
}

#google-opt a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#google-opt a:hover{
    color: #020071;
}

#apple-opt{
    border: 1px solid #000;
    padding: 8px;
    width: 400px;
    border-radius: 20px;
}

#apple-opt a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#apple-opt a:hover{
    color: #020071;
}

#emailopt a, #google-opt a, #apple-opt a {
    gap: 10px;
    display: flex;
    justify-content: center;
}


@media (min-width: 1200px) {
    .h2, h2 {
        font-size: 2rem;
    }
}


    /* Scrollbar Styling */
/* Custom scrollbar for webkit browsers(Chrome, Safari, etc)*/
::-webkit-scrollbar{
    width: 12px;
}

/* Track(background for scrollbar */
::-webkit-scrollbar-track{
    background-color: #7780A1;
    border-radius: 1.5rem;
}

/* Handle for scrollbar thumb */
::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #0d0f2b, #0d0f2b);
    border-radius: 1.5rem;
    border: 3px solid #7780A1;
}

/* Handle hover effect */
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(180deg, #0d0f2b, #0d0f2b);
}

/* Custom scrollbar for Firefox */
html {
    scrollbar-width: thin; /* Thin scrollbar in Firefox */
    scrollbar-color: #0d0f2b #e4e1f7; /* Thumb and track color */
}