main{
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 28% 1% 28% 1% 34%;
    padding: 0px 0px;
    overflow: hidden;
    padding-left: 10px;
}
