@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Space Grotesk', sans-serif;
}

html{
    height: 100vh;
}

.reg-grid{
    padding: 0;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.reg-left{
    padding: 1rem;
    justify-content: center;
    // align-items: center;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar .login-link{
    text-decoration: underline;
    font-size: 12px;
}

.top-bar .login-link:hover{
    color: #3935FF;
}



.logo{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 7px;
}

.logo img{
    font-size: 30px;
    height: 80px;
}

.reg-right{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.icon{
    padding: 10px;
    max-width: 100%;
    text-align: center;
    height: 90px;
}

.icon i{
    font-size: 20px;
    padding: 25px;
    text-align: center;
    border-color: 2px #7780A1;
    border: 1px solid;
    border-radius: 10px;
    border-top: 0;
    border-bottom: 0;
    border-color: #9EA2AE;
}


.pdm-register {
    overflow-y: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    align-items: center;
    // height: 100vh;
    overflow: hidden;
}

#container-reg{
    // margin-top: 25px;
    background-color: #fff;
    width: 850px;
    height: 760px;
    position: relative;
    z-index: 1;
    align-items: center;
}

#container-reg::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}


.signup{
    padding: 5%;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}


.signup h2{
    font-weight: 600;
    text-align: center;
}

.signup h3{
    font-weight: 400;
    text-align: center;
}



#register-form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 1.5rem;
    color: #000;
    div.merge {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }
}

.inputs label{
    font-weight: 700;
}

.form-control{
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 8px;
    color: #000;
    font-size: 12px;
    border: 2px solid #9EA2AE;
}

.inputs:focus{
    outline: none;
}


.submit-button a{
    display: inline-block;
    width: 100%;
    background-color: #3935FF;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

.submit-button a:hover{
    background-color: #020071;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
}

#horizontal-line-register {
    margin-bottom: -1rem;
}

.line{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2px 0;
}

.line::before, .line::after{
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.line:not(:empty)::before{
    margin-right: 10px;
}

.line:not(:empty)::after{
    margin-left: 10px;
}

.signin{
    display: flex;
    padding: 5px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    // width: 400px;

}

#google{
    border: 0.5px solid #000;
    width: 150px;
    border-radius: 12px;
    padding: 10px;
    border-color: #9EA2AE;
}

#google a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#google a:hover{
    color: #020071;
}

#apple{
    border: 1px solid #000;
    padding: 6px;
    width: 150px;
    border-radius: 12px;
    border-color: #9EA2AE;
}

#apple a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#apple a:hover{
    color: #020071;
}

#facebook{
    border: 1px solid #000;
    padding: 5px;
    width: 150px;
    border-radius: 12px;
    border-color: #9EA2AE;
}

#facebook a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#facebook a:hover{
    color: #020071;
}


#signin a, #google a, #apple a, #facebook a {
    gap: 10px;
    display: flex;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        input {
            margin: unset;
        }
    }
}


.contbutton{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contbutton button{
    background-color: #3935FF;
    padding: 10px;
    width: 400px;
    border-radius: 12px;
    color: #fff;
}

.contbutton h4{
    // width: 550px;
    font-size: 13px;
}

.contbutton h4 span{
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
}

@media (width >= 1200px) {
    .h2, h2 {
        font-size: 2rem;
    }
}


    /* Scrollbar Styling */
/* Custom scrollbar for webkit browsers(Chrome, Safari, etc)*/
::-webkit-scrollbar{
    width: 12px;
}

/* Track(background for scrollbar */
::-webkit-scrollbar-track{
    background-color: #7780A1;
    border-radius: 1.5rem;
}

/* Handle for scrollbar thumb */
::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #0d0f2b, #0d0f2b);
    border-radius: 1.5rem;
    border: 3px solid #7780A1;
}

/* Handle hover effect */
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(180deg, #0d0f2b, #0d0f2b);
}

/* Custom scrollbar for Firefox */
html {
    scrollbar-width: thin; /* Thin scrollbar in Firefox */
    scrollbar-color: #0d0f2b #e4e1f7; /* Thumb and track color */
}