div.summary {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  .date-picker-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .cursors-nd-month {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        span {
          svg {
            padding: 10px;
            border: 1px solid #E0E0E0;
            border-radius: 50%;
            width: 35px;
            height: 35px;        
          }
        }
      }
      p {
        font: 700 16px 'Space Grotesk';
        margin: unset;
      }
    }
    .dot-two {
      width: 5px;
      height: 5px;
      background: #FE5A4A;
      border-radius: 50%;
      margin: 0px auto;
    }
    
    .date-list {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      overflow: hidden;
    }
    
    .date-list::-webkit-scrollbar {
      display: none;
    }
    
    .date-item {
      background: #f1f1f1;
      border-radius: 12px;
      padding: 10px 12px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
    }
    
    .date-item.selected {
      background: #2e40ff;
      color: white;
    }
    
    .day {
      font-size: 20px;
      font-weight: bold;
    }
    
    .weekday {
      font-size: 14px;
      text-transform: lowercase;
    }
    
    .dot {
      width: 5px;
      height: 5px;
      background: white;
      border-radius: 50%;
      margin: 0px auto;
    }
    
    .nav-button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
    }
    
  }
  .reviews {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .each-item {
          padding: 12px;
          border-radius: 10px;
          background-color: #F5F5F5;
          div {
              display: flex;
              justify-content: space-between;
              p {
                  display: flex;
                  gap: 5px;
                  align-items: center;
                  color: #222222;
                  font: 700 14px 'Space Grotesk';
                  svg {
                      width: 12px;
                      height: 12px;
                      color: #FF9800;
                  }
              }
              button {
                  border: none;
                  width: 20px;
                  height: 20px;
              }
              svg {
                  width: 100%;
                  height: 100%;
                  &:nth-child(4) {
                      color: #CDDC39;
                  }
              }

          }
          h6 {
              font: 400 18px 'Space Grotesk';
          }
          em {
              font: 400 14px 'Space Grotesk';
              color: #717171;
          }
      }
      .live {
          div {
              p {
                  svg {
                      color: #3935FF;
                  }
              }
              &:nth-child(2) {
                  display: flex;
                  gap: 10px;
                  justify-content: unset;
                  svg { 
                      width: 40px;
                      height: 40px;
                      color: #3935FF; 
                  }
                  div {
                      display: block;
                  }
              }
          }
      }
  }
}

