main.gift-course {

    h3 {
        font: 700 24px 'Space Grotesk';
        text-align: center;
        color: #1D2026;
    }

    section {
        padding: 50px 60px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}