main.gift-course {
    display: flex;
    flex-direction: column;
    h2 {
        padding: 30px;
        font: 700 24px 'Space Grotesk';
        text-align: center;
        color: #1D2026;
        background-color: #F5F7FA;
    }

    span {
        font: 400 14px 'Space Grotesk';
    }

    form {
        padding: 40px 60px;
        display: flex;
        gap: 40px;
        div.left {
            display: flex;
            flex-direction: column;
            gap: 30px;
            flex: 0 0 60%;
            h3 {
                font: 700 24px 'Space Grotesk';
                color: #1D2026;
                margin: unset;
            }
            section {
                display: flex;
                flex-direction: column;
                gap: 30px;
                div.recipient-info, .payment-mthd {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    h4 {
                        margin: unset;
                        font: 500 18px 'Space Grotesk';
                    }
                    .cards {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        .each {
                            padding: 15px;
                            border: 1px solid #E9EAF0;
                            display: flex;
                            align-items: center;
                            gap: 24px;
                            justify-content: space-between;
                            cursor: pointer;
                            p {
                                font: 400 15px 'Space Grotesk';
                                color: #4E5566;
                                margin: unset;
                            }
                        }
                    }
                    .all {
                        display: flex;
                        flex-direction: column;
                        gap: 18px;
                        div, #duplicate {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            label {
                                font: 400 14px 'Space Grotesk';
                            }
                            input, textarea {
                                border: 1px solid #E9EAF0;
                                padding: 12px ;
                            }
                            input:focus, textarea:focus {
                                border-color: #86b7fe;
                                outline: 0;
                                box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
                            }
                        }
                        #duplicate {
                            flex-direction: row;
                            div {width: 100%;}
                        }
                    }
                }
            }

        }
    }
}