
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
*{
  padding: 0px;
  margin: 0px;
}
.navbar{
  background-color: black;
  font-family: "Inter", sans-serif ;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  flex-shrink: 0;
}
.logo{
  color: white;
  gap: 5px;
  display: flex;
  border: 1px solid black;
  height: max-content;
  align-items: center;
}
.logo h3{
  color: #FFF;
  font-family: "Inter", sans-serif ;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}
.links{
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
.navbar a{

  text-decoration: none;
  color: #FFF;
text-align: center;
font-family: "Space Grotesk", sans-serif;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 18px */
}
.navbar .join{
  display: inline-flex;
padding: 12px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 40px;
background: #FFF;
color: #000;
text-align: center;
font-family: "Space Grotesk", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 18px */
}